<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FlyAway</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddFlight</display-name>
    <servlet-name>AddFlight</servlet-name>
    <servlet-class>com.controller.AddFlight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFlight</servlet-name>
    <url-pattern>/AddFlight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.controller.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>com.controller.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlightDeatils</display-name>
    <servlet-name>FlightDeatils</servlet-name>
    <servlet-class>com.controller.FlightDeatils</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightDeatils</servlet-name>
    <url-pattern>/FlightDeatils</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookFlight</display-name>
    <servlet-name>BookFlight</servlet-name>
    <servlet-class>com.controller.BookFlight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookFlight</servlet-name>
    <url-pattern>/BookFlight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlightDetails</display-name>
    <servlet-name>FlightDetails</servlet-name>
    <servlet-class>com.controller.FlightDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightDetails</servlet-name>
    <url-pattern>/FlightDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllFlightDetails</display-name>
    <servlet-name>AllFlightDetails</servlet-name>
    <servlet-class>com.controller.AllFlightDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllFlightDetails</servlet-name>
    <url-pattern>/AllFlightDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAdmin</display-name>
    <servlet-name>AddAdmin</servlet-name>
    <servlet-class>com.controller.AddAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAdmin</servlet-name>
    <url-pattern>/AddAdmin</url-pattern>
  </servlet-mapping>
</web-app>